/* typed.js のテキストの色を変更 */
.typed-cursor {
    color: pink; /* カーソルの色 */
  }

  nav .site-page {
    font-size: 0.9em !important;
}

#recent-posts .recent-post-item > .recent-post-info > .article-meta-wrap {
    display: none !important;
}

#recent-posts .recent-post-item > .recent-post-info > .article-title {
    text-align: center;
    font-weight: bold; /* 数値(100～900)や lighter, normal, bold が指定可能 */
    background-color: #835151;
    color: #FFEACA;
    font-size: 2.2em;

}

#recent-posts .recent-post-item > .recent-post-info > .article-title:hover {
    color: pink; /* 好きな色コードに変更 */
}

.site-data > a .headline {
    display: none !important;
}

.site-data > a .length-num {
    display: none !important;
}

#nav .site-name {
    transition: color 0.3s ease, text-shadow 0.39s ease; /* 色と影のトランジション */
}

#nav .site-name:hover {
    color: pink; /* Hover時の文字色を指定 */
}

#recent-posts .recent-post-item > .recent-post-info > .content {
    -webkit-line-clamp: 2; /* このまま維持 */
    font-size: 1.1em; /* フォントサイズを大きく変更 */
    line-height: 1.5; /* 行間を調整して見やすく */
}