/* typed.js のテキストの色を変更 */
.typed-cursor {
    color: pink; /* カーソルの色 */
  }

nav .site-page {
    font-size: 0.92em !important;
  }

#recent-posts .recent-post-item > .recent-post-info > .article-meta-wrap {
    display: none !important;
}

#recent-posts .recent-post-item > .recent-post-info > .article-title {
    text-align: center;
    font-weight: bold; /* 数値(100～900)や lighter, normal, bold が指定可能 */
    background-color: #835151;
    color: #FFEACA;
    font-size: 2.2em;

}

#recent-posts .recent-post-item > .recent-post-info > .article-title:hover {
    color: pink; /* 好きな色コードに変更 */
}

.site-data > a .headline {
    display: none !important;
}

.site-data > a .length-num {
    display: none !important;
}

#nav .site-name {
    transition: color 0.3s ease, text-shadow 0.39s ease; /* 色と影のトランジション */
}

#nav .site-name:hover {
    color: pink; /* Hover時の文字色を指定 */
}

#recent-posts .recent-post-item > .recent-post-info > .content {
    /*-webkit-line-clamp: 2; /* このまま維持 */
    font-size: 1.25em; /* フォントサイズを大きく変更 */
    line-height: 2; /* 行間を調整して見やすく */
    font-weight: bold;
}

#recent-posts .recent-post-item >.recent-post-info > .content {
    -webkit-line-clamp: 3;
}
#page-header #site-subtitle {
    color: #FFEACA;
    font-size: 2em;
}

/* custom.css に追加 */
#page-header #site-title {
    font-size: 3.2em; /* フォントサイズを調整 */
    font-weight: bold; /* 太字にする */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* テキストに影をつける */
    text-align: center; /* タイトルを中央寄せ */
}

#recent-posts .recent-post-item {
    height: 19em; /* 任意の高さに変更 */
}

.container .btn-beautify.outline {
    display: block;
    border: 1px solid transparent;
    border-color: #F08FC0;
    background-color: transparent;
    color: #F08FC0;
    width: 39%; /* 必要な幅を設定 */
    margin: 0 auto;
    text-align: center;
    font-size: 1.3em;
}
.container .btn-beautify.outline:hover {
    background-color: pink;
}

#pagination .page-number.current {
    display: none;
}

#pagination .pagination-related .info-2 .info-item-1 {
    -webkit-line-clamp: 3;
}

/* スマホ画面用のスタイル */
@media screen and (max-width: 768px) {
    #page-header #site-subtitle {
      font-size: 1.5em; /* スマホ画面用のサブタイトルフォントサイズ */
    }
  
    #page-header #site-title {
      font-size: 2.5em; /* スマホ画面用のタイトルフォントサイズ */
    }
  
    #recent-posts .recent-post-item > .recent-post-info > .article-title {
      font-size: 1.5em; /* スマホ画面用の記事タイトルフォントサイズ */
      text-align: center;
      font-weight: bold;
      background-color: #835151;
      color: #FFEACA;
    }
  
    #recent-posts .recent-post-item > .recent-post-info > .content {
      font-size: 1em; /* スマホ画面用のコンテンツフォントサイズ */
      line-height: 1.8; /* 行間を調整 */
      font-weight: bold; /* スマホで太字を軽減 */
    }
  }

